In [1]:
# Prolog - Auto Generated #
# import os, uuid, matplotlib
# matplotlib.use('Agg')
import matplotlib.pyplot as plt
import pandas as pd


os.chdir(u'C:/Users/concl/PythonEditorWrapper_ab478c23-abdf-4c40-b87b-506cb7ccbc5c')
df = pandas.read_csv('input_df_d91573a7-6193-4aae-a260-d4e44ba49276.csv')

NameError: name 'pandas' is not defined

In [ ]:
df.Date = pd.to_datetime(df.Date)
df.info()

In [42]:
df.groupby('Store').sum().nlargest(10, 'Promo')

       Customers  DayOfWeek  Open  Promo  Sales  SchoolHoliday
Store
103            0       1556     0     79      0             44
1081           0        555     0     74      0             33
708            0       1356     1     50      0             46
349            0       1312     0     45      0             30
972            0        366     0     41      0             24
674            0       1155     1     25      0             14
837            0        994     0     24      0             13
644            0        942     0     23      0             22
700            0        974     1     23      0             13
25             0       1134     2     22      0             14

In [45]:
df.groupby('Store').Sales.sum().hist()